
	{% extends "layout.html" %}
	{%block title%}Book Masters{%endblock%}
  
	


{%block body%}

  
  <!-- Page Content -->

	


<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card ">

			
		
			<div class="card-body">
				
			
                <h1 class="mt-4">Welcome To Book Masters</h1>
                <p>Book Masters is free interactive site where book lovers are able to access thousands of book reviews while also being able to post reviews and ratings of their own .</p>
			</div>
      
		</div>
	</div>
</div>
{%endblock%}